.advantages {
	padding: 5rem 0 !important;

	border-top: 1px solid #e2e4eb;

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(22rem, max-content));
		gap: 1.5rem;

		&-item {
			padding: 2.5rem 2.3rem;

			text-align: center;

			background: var(--white-smoke);
			border-radius: 5px;
		}

		&-icon {
			width: 48px;
			height: 48px;
			margin-bottom: 1rem;
		}

		span {
			display: block;

			font-weight: 500;
			font-size: 1.4rem;
			line-height: 20px;
		}
	}
}
