<footer class="footer">
	<div class="container">
		<div class="footer__main">
			<div class="footer__wrapper">
				<div class="footer__item">
					<div class="footer__menu">
						<h4 class="footer__title">Цветы поштучно</h4>
						<ul class="footer__list list-reset">
							<li class="footer__list-item"><a href="#" class="footer__list-link">Розы
									поштучно</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Кустовая
									роза</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Пионовидная
									роза</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Хризантемы
									поштучно</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Альстромерия</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Тюльпаны</a>
							</li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Герберы
									поштучно</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Лилии
									поштучно</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Пионы</a>
							</li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Эустома</a>
							</li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Каллы
									поштучно</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Маттиола</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer__item">
					<div class="footer__menu">
						<h4 class="footer__title">Розы</h4>
						<ul class="footer__list list-reset">
							<li class="footer__list-item"><a href="#" class="footer__list-link">Голландские
									розы</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Местная
									роза</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Кустовые
									розы</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Пионовидные
									розы</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Букет из 101 розы</a></li>
						</ul>
					</div>
				</div>
				<div class="footer__item">
					<div class="footer__menu">
						<h4 class="footer__title">Букеты</h4>
						<ul class="footer__list list-reset">
							<li class="footer__list-item"><a href="#" class="footer__list-link">Сборные
									букеты</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Букеты из
									хризантем</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Букеты из
									Альстромерий</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Букеты из
									эустом</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Букеты
									Гипсофилы</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Букеты из
									гербер</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Букеты из
									пионов</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Букеты из
									тюльпанов</a></li>
						</ul>
					</div>
				</div>
				<div class="footer__item">
					<div class="footer__menu">
						<h4 class="footer__title">Композиции</h4>
						<ul class="footer__list list-reset">
							<li class="footer__list-item"><a href="#" class="footer__list-link">Ящики с
									цветами</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Коробки с
									цветами</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Корзины с
									цветами</a></li>
						</ul>
					</div>
					<div class="footer__menu">
						<h4 class="footer__title">Подарки</h4>
						<ul class="footer__list list-reset">
							<li class="footer__list-item"><a href="#" class="footer__list-link">Мягкие
									игрушки</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Коробки
									конфет</a></li>
						</ul>
					</div>
					<div class="footer__menu">
						<h4 class="footer__title">Шары</h4>
						<ul class="footer__list list-reset">
							<li class="footer__list-item"><a href="#" class="footer__list-link">Шары в виде
									цифр</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Фольгированные шары</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Латексные
									шары</a></li>
						</ul>
					</div>
				</div>
				<div class="footer__item">
					<div class="footer__menu">
						<h4 class="footer__title">Информация</h4>
						<ul class="footer__list list-reset">
							<li class="footer__list-item"><a href="#" class="footer__list-link">Доставка</a>
							</li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Оплата</a>
							</li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Отзывы</a>
							</li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Блог</a>
							</li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Гарантии</a>
							</li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Вопрос и
									ответ</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Корпоративным клиентам</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">О
									компании</a></li>
							<li class="footer__list-item"><a href="#" class="footer__list-link">Контакты</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer__contact">
					<h4 class="footer__title">Наши координаты</h4>
					<ul class="footer__contact-list list-reset">
						<li class="footer__contact-item">
							Служба Доставки
							<span class="footer__contact-phone">+7 (920) 211-49-03</span>
						</li>
						<li class="footer__contact-item">
							Ул. Вл. Невского 17
							<span class="footer__contact-phone">+7 (920) 211-49-03</span>
						</li>
						<li class="footer__contact-item">
							Ул. Революции 1905 года 80
							<span class="footer__contact-phone">+7 (906) 678-65-99</span>
						</li>
					</ul>
					<div class="footer__contact-email">
						E-mail:
						<span>info@lavkaroz.ru</span>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<p class="footer__copyright">© 2014 – 2022. Интернет-магазин «Лавка Роз»</p>
			<ul class="footer__cards list-reset">
				<li class="footer__cards-item">
					<img class="footer__cards-img" src="images/wallet.svg" alt="">
				</li>
				<li class="footer__cards-item">
					<img class="footer__cards-img" src="images/visa-card.svg" alt="">
				</li>
				<li class="footer__cards-item">
					<img class="footer__cards-img" src="images/mastercard.svg" alt="">
				</li>
				<li class="footer__cards-item">
					<img class="footer__cards-img" src="images/maestro-card.svg" alt="">
				</li>
				<li class="footer__cards-item">
					<img class="footer__cards-img" src="images/world-card.svg" alt="">
				</li>
				<li class="footer__cards-item">
					<img class="footer__cards-img" src="images/tick-card.svg" alt="">
				</li>
				<li class="footer__cards-item">
					<img class="footer__cards-img" src="images/u-card.svg" alt="">
				</li>
			</ul>
			<div class="footer__right">
				<p>Мы в социальных сетях:</p>
				<ul class="footer__socail list-reset">
					<li class="footer__socail-item">
						<a href="#" class="footer__socail-link">
							<svg class="footer__socail-icon">
								<use xlink:href="images/sprites/sprite-multi.svg#vk"></use>
							</svg>
						</a>
					</li>
					<li class="footer__socail-item">
						<a class="footer__socail-link" href="#">
							<svg class="footer__socail-icon">
								<use xlink:href="images/sprites/sprite-multi.svg#fb"></use>
							</svg>
						</a>
					</li>
					<li class="footer__socail-item">
						<a href="#" class="footer__socail-link">
							<svg class="footer__socail-icon">
								<use xlink:href="images/sprites/sprite-multi.svg#instagram"></use>
							</svg>
						</a>
					</li>
					<li class="footer__socail-item">
						<a class="footer__socail-link" href="#">
							<svg class="footer__socail-icon">
								<use xlink:href="images/sprites/sprite-multi.svg#youtube"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>