<section class="advantages">
	<div class="container">
		<ul class="advantages__list list-reset">
			<li class="advantages__list-item">
				<svg class="advantages__list-icon">
					<use xlink:href="images/sprites/sprite-multi.svg#advantages-delivery"></use>
				</svg>
				<span>Экспресс-доставка от&nbsp;90 минут</span>
			</li>
			<li class="advantages__list-item">
				<svg class="advantages__list-icon">
					<use xlink:href="images/sprites/sprite-multi.svg#advantages-price"></use>
				</svg>
				<span>Низкие цены</span>
			</li>
			<li class="advantages__list-item">
				<svg class="advantages__list-icon">
					<use xlink:href="images/sprites/sprite-multi.svg#advantages-star"></use>
				</svg>
				<span>Каждый день поступление свежих цветов</span>
			</li>
			<li class="advantages__list-item">
				<svg class="advantages__list-icon">
					<use xlink:href="images/sprites/sprite-multi.svg#advantages-flower"></use>
				</svg>
				<span>Опытные флористы</span>
			</li>
			<li class="advantages__list-item">
				<svg class="advantages__list-icon">
					<use xlink:href="images/sprites/sprite-multi.svg#advantages-tick"></use>
				</svg>
				<span>Работаем без выходных</span>
			</li>
		</ul>
	</div>
</section>