<section class="basket section">
	<div class="container">
		<div class="section__header section-header gutter-md">
			<h3 class="section-header__title title--md">Корзина</h3>
		</div>
		<div class="basket__wrapper">
			<div class="basket__content">
				<div class="main-basket">
					<div class="main-basket__top">
						<div class="main-basket__header">
							<span class="main-basket__caption">Товары в корзине</span>
							<button class="main-basket__btn btn-reset js-clear-cart">Очистить корзину</button>
						</div>
						<ul class="main-basket__list list-reset js-cart-list"></ul>
					</div>
					<div class="main-basket__content">
						<div class="basket__tabs">
							<h3 class="basket__tabs-title">Добавить к заказу приятную мелочь</h3>
							<ul class="basket__controls tabs-control list-reset">
								<li class="basket__controls-item tabs-control__item" data-path-tab="postal-gifts">
									Открытки
								</li>
								<li class="basket__controls-item tabs-control__item is-active" data-path-tab="ballon-gifts">
									Шарики
								</li>
								<li class="basket__controls-item tabs-control__item" data-path-tab="bear-gifts">
									Мишки
								</li>
							</ul>
							<div class="basket__tabs-content tabs-content">
								<div class="tabs-content__item" data-target-tab="postal-gifts">
									<div class="basket__tabs-wrapper">
										<div class="basket__slider">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/candies-1.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Конфеты Рафаэлло</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">300 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/candies-1.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Конфеты Рафаэлло</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">300 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/candies-1.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Конфеты Рафаэлло</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">300 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/candies-1.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Конфеты Рафаэлло</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">300 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/candies-1.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Конфеты Рафаэлло</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">300 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
											</div>
											<div class="swiper-button-next swiper-button-reset prev-slide-btn">
												<svg class="icon icon--bright-grey stroke-2">
													<use xlink:href="images/sprites/sprite-mono.svg#next"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
								<div class="tabs-content__item tabs-content__item--active" data-target-tab="ballon-gifts">
									<div class="basket__tabs-wrapper">
										<div class="basket__slider">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/postal.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Открытка «Дорогая мама»</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">100 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/candies-1.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Конфеты Рафаэлло</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">300 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/flowers-gift.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Подарочные цветы
															«Весна рядом»</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">500 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/roses-gift.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Цветы Розы</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">1200 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/postal.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Открытка «Дорогая мама»</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">100 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
											</div>
											<div class="swiper-button-next swiper-button-reset prev-slide-btn">
												<svg class="icon icon--bright-grey stroke-2">
													<use xlink:href="images/sprites/sprite-mono.svg#next"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
								<div class="tabs-content__item" data-target-tab="bear-gifts">
									<div class="basket__tabs-wrapper">
										<div class="basket__slider">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/postal.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Открытка «Дорогая мама»</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">100 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/postal.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Открытка «Дорогая мама»</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">100 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/postal.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Открытка «Дорогая мама»</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">100 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/postal.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Открытка «Дорогая мама»</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">100 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="basket__slider-item">
														<img src="images/postal.png" alt="" class="basket__slider-img">
														<h4 class="basket__slider-title">Открытка «Дорогая мама»</h4>
														<div class="basket__slider-bottom">
															<span class="basket__slider-price">100 ₽</span>
															<button class="basket__slider-btn btn-reset"></button>
														</div>
													</div>
												</div>
											</div>
											<div class="swiper-button-next swiper-button-reset prev-slide-btn">
												<svg class="icon icon--bright-grey stroke-2">
													<use xlink:href="images/sprites/sprite-mono.svg#next"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="basket__message">
							<label for="postal-message" class="basket__message-caption">Текст открытки</label>
							<textarea id="postal-message" class="basket__message-control"
								placeholder="Текст открытки"></textarea>
						</div>
						<div class="basket__info">
							<ul class="basket__info-controls tabs-control list-reset">
								<li class="basket__info-controls-item tabs-control__item" data-path-tab="pickup">Самовывоз</li>
								<li class="basket__info-controls-item tabs-control__item is-active" data-path-tab="delivery">
									Доставка</li>
							</ul>
							<div class="basket__info-tabs tabs-content">
								<div class="tabs-content__item" data-target-tab="pickup">
									<form action="#" class="basket-form">
										<div class="basket-form__group">
											<div class="basket-form__header">
												<span class="basket-form__number">1</span>
												<h4 class="basket-form__caption">Контактные данные</h4>
											</div>
											<div class="basket-form__inner">
												<div class="basket-form__item">
													<label class="basket-form__label" for="pickup-name">Ваше имя*</label>
													<input class="basket-form__control" placeholder="Введите имя" id="pickup-name"
														name="pickup-name" type="text">
												</div>
												<div class="basket-form__item">
													<label class="basket-form__label" for="pickup-phone">Ваш телефон*</label>
													<input class="basket-form__control" placeholder="+7 (___) ___-__-__"
														id="pickup-phone" name="pickup-phone" type="tel">
												</div>
											</div>
										</div>
										<div class="basket-form__group">
											<div class="basket-form__header">
												<span class="basket-form__number">2</span>
												<h4 class="basket-form__caption">Детали самовывоза</h4>
											</div>
											<div class="basket-form__inner">
												<div class="basket-form__control basket-choise">
													<input class="basket-choise__input" type="radio" name="address" id="address-1">
													<label for="address-1" class="basket-choise__label">
														<span class="basket-choise__prop">
															<span class="basket-choise__text">ул. Революции 1905 года, 80</span>
														</span>
													</label>
												</div>
												<div class="basket-form__control basket-choise">
													<input class="basket-choise__input" type="radio" name="address" checked
														id="address-2">
													<label for="address-2" class="basket-choise__label">
														<span class="basket-choise__prop">
															<span class="basket-choise__text">ул. Владимира Невского, 17</span>
														</span>
													</label>
												</div>
											</div>
											<div class="basket-form__date">
												<span class="basket-form__subcaption">Время</span>
												<div class="basket-form__inner">
													<div class="basket-form__item">
														<label class="basket-form__label" for="pickup-date">Дата</label>
														<input class="basket-form__control" id="pickup-date" name="pickup-date"
															type="date">
													</div>
													<div class="basket-form__item">
														<label class="basket-form__label">Время</label>
														<div class="basket-form__time-select" id="pickup-select-time"></div>
													</div>
												</div>
											</div>
											<div class="basket-form__inner">
												<div class="basket-form__item">
													<label class="basket-form__label" for="comment">Комментарии</label>
													<textarea class="basket-form__control basket-form__textarea" id="comment"
														name="comment" placeholder="Текст открытки"></textarea>
												</div>
											</div>
										</div>
										<div class="basket-form__group">
											<div class="basket-form__header">
												<span class="basket-form__number">3</span>
												<h4 class="basket-form__caption">Способы оплаты</h4>
											</div>
											<div class="basket-form__payment basket-payment basket-choise">
												<div class="basket-payment__item">
													<input class="basket-payment__input basket-choise__input" type="radio"
														name="pickup-payment-way" id="pickup-receiver">
													<label for="pickup-receiver" class="basket-payment__label basket-choise__label">
														<svg class="basket-payment__icon">
															<use xlink:href="images/sprites/sprite-mono.svg#hand-credit-card"></use>
														</svg>
														<span class="basket-payment__prop basket-choise__prop">
															<span class="basket-payment__text">Оплата при получении</span>
														</span>
													</label>
												</div>
												<div class="basket-payment__item">
													<input class="basket-payment__input basket-choise__input" type="radio"
														name="pickup-payment-way" checked id="pickup-bank-card">
													<label for="pickup-bank-card" class="basket-payment__label basket-choise__label">
														<svg class="basket-payment__icon">
															<use xlink:href="images/sprites/sprite-mono.svg#bank-card"></use>
														</svg>
														<span class="basket-payment__prop basket-choise__prop">
															<span class="basket-payment__text">Банковской картой онлайн</span>
														</span>
													</label>
												</div>
												<div class="basket-payment__item">
													<input class="basket-payment__input basket-choise__input" type="radio"
														name="pickup-payment-way" id="pickup-google">
													<label for="pickup-google" class="basket-payment__label basket-choise__label">
														<svg class="basket-payment__icon">
															<use xlink:href="images/sprites/sprite-mono.svg#google"></use>
														</svg>
														<span class="basket-payment__prop basket-choise__prop">
															<span class="basket-payment__text">Google Pay, Apple Pay</span>
														</span>
													</label>
												</div>
												<div class="basket-payment__item">
													<input class="basket-payment__input basket-choise__input" type="radio"
														name="pickup-payment-way" id="pickup-payment-bill">
													<label for="pickup-payment-bill"
														class="basket-payment__label basket-choise__label">
														<svg class="basket-payment__icon">
															<use xlink:href="images/sprites/sprite-mono.svg#briefcase"></use>
														</svg>
														<span class="basket-payment__prop basket-choise__prop">
															<span class="basket-payment__text">Оплата по расчетному счету</span>
														</span>
													</label>
												</div>
												<div class="basket-payment__item">
													<input class="basket-form__control" placeholder="Номер карты"
														id="pickup-card-number" type="text">
												</div>
												<div class="basket-payment__item">
													<div class="basket-form__inner">
														<input class="basket-form__control" placeholder="MM/YY"
															id="pickup-card-number-mm" type="text">
														<input class="basket-form__control" placeholder="CVV/CVC"
															id="pickup-card-number-cv" type="text">
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="tabs-content__item tabs-content__item--active" data-target-tab="delivery">
									<form class="basket-form" action="#">
										<div class="basket-form__group">
											<div class="basket-form__header">
												<span class="basket-form__number">1</span>
												<h4 class="basket-form__caption">Контактные данные</h4>
											</div>
											<div class="basket-form__inner">
												<div class="basket-form__item">
													<label class="basket-form__label" for="name">Ваше имя*</label>
													<input class="basket-form__control" placeholder="Введите имя" id="user-name"
														name="user-name" type="text">
												</div>
												<div class="basket-form__item">
													<label class="basket-form__label" for="user-phone">Ваш телефон*</label>
													<input class="basket-form__control" placeholder="+7 (___) ___-__-__"
														id="user-phone" name="user-phone" type="tel">
												</div>
											</div>
										</div>
										<div class="basket-form__group">
											<div class="basket-form__header">
												<span class="basket-form__number">2</span>
												<h4 class="basket-form__caption">Получатель</h4>
											</div>
											<div class="basket-form__checkbox">
												<label class="custom-checkbox">
													<input type="checkbox" class="custom-checkbox__field">
													<span class="custom-checkbox__content">
														<span class="catalog__prop-text">Я сам получу заказ</span>
													</span>
												</label>
											</div>
											<div class="basket-form__inner">
												<div class="basket-form__item">
													<label class="basket-form__label" for="receiver-name">Имя получателя*</label>
													<input class="basket-form__control" placeholder="Введите имя" id="receiver-name"
														name="receiver-name" type="tel">
												</div>
												<div class="basket-form__item">
													<label class="basket-form__label" for="receiver-phone">Телефон
														получателя*</label>
													<input class="basket-form__control" placeholder="+7 (___) ___-__-__"
														id="receiver-phone" name="receiver-phone" type="tel">
												</div>
											</div>
										</div>
										<div class="basket-form__group basket-form__group--adress">
											<div class="basket-form__header">
												<span class="basket-form__number">3</span>
												<h4 class="basket-form__caption">Детали доставки</h4>
											</div>
											<div class="basket-form__checkbox">
												<span class="basket-form__subcaption">Адрес</span>
												<label class="custom-checkbox">
													<input type="checkbox" class="custom-checkbox__field">
													<span class="custom-checkbox__content">
														<span class="catalog__prop-text">Уточнить у получателя адрес</span>
													</span>
												</label>
											</div>
											<div class="basket-form__inner">
												<div class="basket-form__item">
													<label class="basket-form__label" for="user-address">Адрес</label>
													<input class="basket-form__control" placeholder="Введите адрес" id="user-address"
														name="receiver-address" type="text">
												</div>
												<button id="add-adress-btn" class="basket-form__btn btn-fill btn-reset">Сохранить
													адрес</button>
												<button type="button" data-graph-path="address-book"
													class="basket-form__btn btn-outline btn-reset">Адресная книга</button>
											</div>
											<div class="basket-form__inner">
												<div class="basket-form__item">
													<label class="basket-form__label" for="apartment">Квартира, офис</label>
													<input class="basket-form__control" id="apartment" name="apartment" type="text">
												</div>
												<div class="basket-form__item">
													<label class="basket-form__label" for="entrance">Подъезд</label>
													<input class="basket-form__control" id="entrance" name="entrance" type="text">
												</div>
												<div class="basket-form__item">
													<label class="basket-form__label" for="floor">Этаж</label>
													<input class="basket-form__control" id="floor" name="floor" type="text">
												</div>
											</div>
											<div class="basket-form__date">
												<span class="basket-form__subcaption">Время</span>
												<div class="basket-form__inner">
													<div class="basket-form__item">
														<label class="basket-form__label" for="date">Дата</label>
														<input class="basket-form__control" id="date" name="date" type="date">
													</div>
													<div class="basket-form__item">
														<label class="basket-form__label">Время</label>
														<div class="basket-form__time-select" id="select-time"></div>
													</div>
												</div>
											</div>
											<div class="basket-form__inner">
												<div class="basket-form__item">
													<label class="basket-form__label" for="comment">Комментарии</label>
													<textarea class="basket-form__control basket-form__textarea"
														id="delevery-comment" name="delevery-comment"
														placeholder="Текст открытки"></textarea>
												</div>
											</div>
										</div>
										<div class="basket-form__group">
											<div class="basket-form__header">
												<span class="basket-form__number">4</span>
												<h4 class="basket-form__caption">Способы оплаты</h4>
											</div>
											<div class="basket-form__payment basket-payment basket-choise">
												<div class="basket-payment__item">
													<input class="basket-payment__input basket-choise__input" type="radio"
														name="payment-way" checked id="bank-card">
													<label for="bank-card" class="basket-payment__label basket-choise__label">
														<svg class="basket-payment__icon">
															<use xlink:href="images/sprites/sprite-mono.svg#bank-card"></use>
														</svg>
														<span class="basket-payment__prop basket-choise__prop">
															<span class="basket-payment__text">Банковской картой онлайн</span>
														</span>
													</label>
												</div>
												<div class="basket-payment__item">
													<input class="basket-payment__input basket-choise__input" type="radio"
														name="payment-way" id="google">
													<label for="google" class="basket-payment__label basket-choise__label">
														<svg class="basket-payment__icon">
															<use xlink:href="images/sprites/sprite-mono.svg#google"></use>
														</svg>
														<span class="basket-payment__prop basket-choise__prop">
															<span class="basket-payment__text">Google Pay, Apple Pay</span>
														</span>
													</label>
												</div>
												<div class="basket-payment__item">
													<input class="basket-payment__input basket-choise__input" type="radio"
														name="payment-way" id="payment-bill">
													<label for="payment-bill" class="basket-payment__label basket-choise__label">
														<svg class="basket-payment__icon">
															<use xlink:href="images/sprites/sprite-mono.svg#briefcase"></use>
														</svg>
														<span class="basket-payment__prop basket-choise__prop">
															<span class="basket-payment__text">Оплата по расчетному счету</span>
														</span>
													</label>
												</div>
												<div class="basket-payment__item">
													<input class="basket-form__control" placeholder="Номер карты" id="card-number"
														name="receiver-card-number" type="text">
												</div>
												<div class="basket-payment__item">
													<div class="basket-form__inner">
														<input class="basket-form__control" placeholder="MM/YY" id="card-number-mm"
															name="receiver-mm" type="text">
														<input class="basket-form__control" placeholder="CVV/CVC" id="card-number-cv"
															name="receiver-cvc" type="text">
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<aside class="basket-sidebar">
				<div class="basket-sidebar__content">
					<div class="basket-sidebar__total">
						Итого:
						<span class="basket-sidebar__total-price js-cart-price">0 ₽</span>
					</div>
					<div class="basket-sidebar__wrapper">
						<div class="basket-sidebar__item">
							<span class="basket-sidebar__caption js-product-length">0 товаров</span>
							<span class="basket-sidebar__value basket-sidebar__value--price">0 ₽</span>
						</div>
						<div class="basket-sidebar__item">
							<span class="basket-sidebar__caption">Скидка</span>
							<span class="basket-sidebar__value basket-sidebar__value--discount">- 356 ₽</span>
						</div>
						<div class="basket-sidebar__item">
							<span class="basket-sidebar__caption">Доставка</span>
							<span class="basket-sidebar__value">бесплатно</span>
						</div>
					</div>
					<form action="#" class="basket-sidebar__form">
						<div class="basket-sidebar__group">
							<input class="basket-sidebar__control" type="text" placeholder="Промокод">
							<button class="basket-sidebar__form-btn btn-reset">
								<svg>
									<use xlink:href="images/sprites/sprite-mono.svg#arrow_right"></use>
								</svg>
							</button>
						</div>
						<button class="basket-sidebar__btn btn-reset btn-fill">Оформить заказ</button>
					</form>
				</div>
				<div class="basket-sidebar__bottom payment-methods">
					<h3 class="payment-methods__title">Способы оплаты</h3>
					<p class="payment-methods__descr">Вы можете оплатить
						наличными или картой:</p>
					<ul class="payment-methods__cards list-reset">
						<li class="payment-methods__cards-item">
							<img src="images/cards/wallet.svg" alt="">
						</li>
						<li class="payment-methods__cards-item">
							<img src="images/cards/visa.svg" alt="">
						</li>
						<li class="payment-methods__cards-item">
							<img src="images/cards/mastercard.svg" alt="">
						</li>
						<li class="payment-methods__cards-item">
							<img src="images/cards/maestro.svg" alt="">
						</li>
						<li class="payment-methods__cards-item">
							<img src="images/cards/world.svg" alt="">
						</li>
						<li class="payment-methods__cards-item">
							<img src="images/cards/tick.svg" alt="">
						</li>
						<li class="payment-methods__cards-item">
							<img src="images/cards/u.svg" alt="">
						</li>
						<li class="payment-methods__cards-item">
							<img src="images/cards/paypal.svg" alt="">
						</li>
					</ul>
				</div>
			</aside>
		</div>
	</div>
</section>