<div class="cart-modal">
	<div class="cart-modal__header">
		<h3 class="cart-modal__title">Корзина</h3>
		<button class="cart-modal__btn-close btn-reset">
			<svg class="">
				<use xlink:href="images/sprites/sprite-mono.svg#close"></use>
			</svg>
		</button>
	</div>
	<div class="cart-modal__content">
		<ul class="cart-modal__list list-reset js-cart-list">
			<!--<li class="cart-modal__item">
				<article class="cart-modal__product modal-product" data-id="N727513563">
					<img class="modal-product__img" src="images/product-3.png" alt="">
					<div class="modal-product__info">
						<h3 class="modal-product__title">Букет роз микс 40 см</h3>
						<span class="modal-product__id">Артикул: N727513563</span>
						<div class="modal-product__count">
							<div class="modal-product__stepper stepper">
								<button class="stepper__btn stepper__btn--up btn-reset">+</button>
								<div class="stepper__field">
									<input type="text" value="1" maxlength="3" class="stepper__input">
								</div>
								<button class="stepper__btn stepper__btn--down stepper__btn--disabled btn-reset">-</button>
							</div>
							<span class="modal-product__price">10 499 ₽</span>
						</div>
					</div>
					<button class="modal-product__btn btn-reset">
						<svg class="">
							<use xlink:href="images/sprites/sprite-mono.svg#close-alt"></use>
						</svg>
					</button>
				</article>
			</li>-->
		</ul>
	</div>
	<div class="cart-modal__footer">
		<div class="cart-modal__total">
			Итого:
			<span class="cart-modal__price">0 ₽</span>
		</div>
		<div class="cart-modal__buttons">
			<button class="cart-modal__continiue-btn btn-reset">Продолжить покупки</button>
			<a href="" class="cart-modal__order-btn btn-reset btn-fill">Оформить заказ</a>
		</div>
	</div>
</div>
<div class="overlay"></div>