<section class="categories">
	<div class="container">
		<div class="section__header section-header gutter-lg">
			<h3 class="section-header__title">Букеты из роз</h3>
		</div>
		<div class="categories__wrapper">
			<div class="categories__item">
				<img class="categories__img" src="images/categories/categories-1.png" alt="">
				<div class="categories__info">
					<h4 class="categories__title">Букеты из тюльпанов и ирисов</h4>
				</div>
			</div>
			<div class="categories__item">
				<img class="categories__img" src="images/categories/categories-2.png" alt="">
				<div class="categories__info">
					<h4 class="categories__title">Сборные букеты</h4>
				</div>
			</div>
			<div class="categories__item">
				<img class="categories__img" src="images/categories/categories-3.png" alt="">
				<div class="categories__info">
					<h4 class="categories__title">Букеты из хризантем</h4>
				</div>
			</div>
			<div class="categories__item">
				<img class="categories__img" src="images/categories/categories-4.png" alt="">
				<div class="categories__info">
					<h4 class="categories__title">Букеты из Альстромерий</h4>
				</div>
			</div>
			<div class="categories__item">
				<img class="categories__img" src="images/categories/categories-5.png" alt="">
				<div class="categories__info">
					<h4 class="categories__title">Букет из эустом</h4>
				</div>
			</div>
		</div>
	</div>
</section>