<section class="contact">
	<div class="container">
		<div class="contact__box">
			<div class="contact__call">
				<span class="contact__call-icon">
					<svg class="icon icon--gray stroke-2">
						<use xlink:href="images/sprites/sprite-mono.svg#call"></use>
					</svg>
				</span>
				<div class="contact__phone">
					<span>+7 (920) 211-49-03</span>
					<button class="contact__phone-btn btn-reset">Заказать звонок</button>
				</div>
			</div>
			<ul class="contact__list list-reset">
				<li class="contact__list-item">
					<svg class="contact__list-icon">
						<use xlink:href="images/sprites/sprite-multi.svg#clock"></use>
					</svg>
					Пн-Сб: 8:00–20:00 Вс: 9:00–20:00
				</li>
				<li class="contact__list-item">
					<svg class="contact__list-icon">
						<use xlink:href="images/sprites/sprite-multi.svg#envelope"></use>
					</svg>
					<span class="contact__list-email">info@lavkaroz.ru</span>
				</li>
			</ul>
		</div>
	</div>
</section>