<section class="delivery info">
	<div class="container">
		<div class="info__wrapper">
			<div class="info__nav">
				<ul class="info__nav-list list-reset">
					<li class="info__nav-item">
						<a class="info__nav-link" href="#">О нас</a>
					</li>
					<li class="info__nav-item">
						<a class="info__nav-link" href="#">Оплата</a>
					</li>
					<li class="info__nav-item">
						<a class="info__nav-link active" href="#">Доставка</a>
					</li>
				</ul>
			</div>
			<div class="info__content">
				<div class="section__header section-header gutter-sm">
					<h3 class="section-header__title title--md">Доставка</h3>
				</div>
				<div class="delivery__box">
					<svg class="delivery__box-icon">
						<use xlink:href="images/sprites/sprite-multi.svg#truck"></use>
					</svg>
					<span class="delivery__box-caption">Доставка цветов осуществляется по Воронежу и пригороду Воронежа в
						течении двух часов!</span>
				</div>
				<p class="info__content-descr">
					Наша служба доставки работает без праздников и выходных.
				</p>
				<p class="info__content-descr">Доставка цветов осуществляется в указанное время +- 30 минут.</p>
				<div class="delivery__wrapper">
					<div class="delivery__item">
						<svg class="delivery__item-icon">
							<use xlink:href="images/sprites/sprite-multi.svg#rate"></use>
						</svg>
						<div class="delivery__item-info">
							<h3 class="delivery__item-title">Тарифы на доставку:</h3>
							<h4 class="delivery__item-subtitle">По городу <span>300</span> руб.</h4>
							<small>Отдаленые районы - расчет производится автоматически при
								оформление
								заказа!</small>
						</div>
					</div>
					<div class="delivery__item">
						<svg class="delivery__item-icon">
							<use xlink:href="images/sprites/sprite-multi.svg#time"></use>
						</svg>
						<div class="delivery__item-info">
							<h3 class="delivery__item-title">Время работы магазина:</h3>
							<p class="delivery__item-descr">Пн-Сб: 8:00-20:00</p>
							<p class="delivery__item-descr">Вс: 9:00-20:00</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>