<section class="features">
	<div class="container">
		<ul class="features__list list-reset">
			<li class="features__list-item">
				<span>Экспресс-доставка от&nbsp;90 минут</span>
				<svg class="features__list-icon">
					<use xlink:href="images/sprites/sprite-multi.svg#delivery"></use>
				</svg>

			</li>
			<li class="features__list-item">
				<span>Низкие цены</span>
				<svg class="features__list-icon">
					<use xlink:href="images/sprites/sprite-multi.svg#price"></use>
				</svg>
			</li>
			<li class="features__list-item">
				<span>Каждый день поступление свежих цветов</span>
				<svg class="features__list-icon">
					<use xlink:href="images/sprites/sprite-multi.svg#star"></use>
				</svg>
			</li>
			<li class="features__list-item">
				<span>Опытные флористы</span>
				<svg class="features__list-icon">
					<use xlink:href="images/sprites/sprite-multi.svg#flowers"></use>
				</svg>
			</li>
			<li class="features__list-item">
				<span>Работаем без выходных</span>
				<svg class="features__list-icon">
					<use xlink:href="images/sprites/sprite-multi.svg#tick"></use>
				</svg>
			</li>
		</ul>
	</div>
</section>