<section class="feedback">
	<div class="container">
		<div class="section__header section-header gutter-lg">
			<h3 class="section-header__title">Контакты</h3>
		</div>
		<div class="feedback__phone">
			<p class="feedback__phone-number">Оформление заказа цветов по телефону: <span>+7 (920) 211-49-03</span></p>
		</div>
		<div class="feedback__wrapper">
			<div class="feedback__item">
				<img class="feedback__item-img" src="images/feedback-1.png" alt="">
				<h3 class="feedback__item-title">Магазин цветов в Северном районе</h3>
				<p class="feedback__item-address">394088, ул. Владимира Невского, 17</p>
				<ul class="feedback__item-list list-reset">
					<li class="feedback__item-contact">
						<svg class="feedback__item-icon icon icon--gray stroke-2">
							<use xlink:href="images/sprites/sprite-mono.svg#call"></use>
						</svg>
						<p>
							<span class="feedback__item-caption">Телефон: </span>
							<span class="feedback__item-phone">+7 (920) 211-49-03</span>
						</p>
					</li>
					<li class="feedback__item-contact">
						<svg class="feedback__item-icon icon-fill">
							<use xlink:href="images/sprites/sprite-mono.svg#map-pin"></use>
						</svg>
						<p>
							<span class="feedback__item-caption">GPS: </span>
							<span class="feedback__item-phone">51.709873, 39.150053</span>
						</p>
					</li>
				</ul>
			</div>
			<div class="feedback__item">
				<img class="feedback__item-img" src="images/feedback-2.png" alt="">
				<h3 class="feedback__item-title">Магазин цветов в центре Воронежа</h3>
				<p class="feedback__item-address">394030, ул. Революции 1905 года, 807</p>
				<ul class="feedback__item-list list-reset">
					<li class="feedback__item-contact">
						<svg class="feedback__item-icon icon icon--gray stroke-2">
							<use xlink:href="images/sprites/sprite-mono.svg#call"></use>
						</svg>
						<p>
							<span class="feedback__item-caption">Телефон: </span>
							<span class="feedback__item-phone">+7(906)678-65-99</span>
						</p>
					</li>
					<li class="feedback__item-contact">
						<svg class="feedback__item-icon icon-fill">
							<use xlink:href="images/sprites/sprite-mono.svg#map-pin"></use>
						</svg>
						<p>
							<span class="feedback__item-caption">GPS: </span>
							<span class="feedback__item-phone">51.667596, 39.185905</span>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>