<section class="flowers-sections">
	<div class="container">
		<div class="section__header section-header gutter-lg">
			<h3 class="section-header__title">Разделы</h3>
		</div>
		<div class="flowers-sections__wrapper">
			<div class="flowers-sections__item">
				<img class="flowers-sections__img" src="images/flowers-section-1.png" alt="">
				<div class="flowers-sections__content">
					<h3 class="flowers-sections__title">Цветы поштучно</h3>
					<span class="flowers-sections__price">от <span>500</span> ₽</span>
				</div>
			</div>
			<div class="flowers-sections__item">
				<img class="flowers-sections__img" src="images/flowers-section-2.png" alt="">
				<div class="flowers-sections__content">
					<h3 class="flowers-sections__title">Букеты из роз</h3>
					<span class="flowers-sections__price">от <span>900</span> ₽</span>
				</div>
			</div>
			<div class="flowers-sections__item">
				<img class="flowers-sections__img" src="images/flowers-section-3.png" alt="">
				<div class="flowers-sections__content">
					<h3 class="flowers-sections__title">Каталог букетов</h3>
					<span class="flowers-sections__price">от <span>3500</span> ₽</span>
				</div>
			</div>
			<div class="flowers-sections__item">
				<img class="flowers-sections__img" src="images/flowers-section-4.png" alt="">
				<div class="flowers-sections__content">
					<h3 class="flowers-sections__title">Композиции из цветов</h3>
					<span class="flowers-sections__price">от <span>2900</span> ₽</span>
				</div>
			</div>
		</div>
	</div>
</section>