<section class="section flowers-delivery sliders">
	<div class="container">
		<div class="section__header section-header gutter-lg">
			<h3 class="section-header__title">Букеты цветов с доставкой</h3>
			<a class="section-header__link" href="#">
				<svg class="">
					<use xlink:href="images/sprites/sprite-mono.svg#arrow-right"></use>
				</svg>
			</a>
		</div>
		<div class="flowers-delivery__wrapper sliders__wrapper">
			<div class="flowers-delivery__slider sliders__slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<article class="product" data-product-id="x992413643">
							<div class="product__actions">
								<button class="product__actions-btn favorite-btn btn-reset">
									<svg class="icon icon--bright-grey">
										<use xlink:href="images/sprites/sprite-mono.svg#heart"></use>
									</svg>
								</button>
							</div>
							<div class="product__images">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-1.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-4.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-2.png" alt="">
										</div>
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
							<div class="product__info">
								<h3 class="product__title">Букет 25 роз Нежный микс</h3>
								<div class="product__props">Высота: 60 см, Ширина: 35 см</div>
								<div class="product__bottom">
									<div class="product__price">
										<span class="product__price-current">13 499 ₽</span>
										<span class="product__price-old">15 499 ₽</span>
									</div>
									<button class="product__btn btn btn--primary btn-reset">
										<svg class="btn__icon">
											<use xlink:href="images/sprites/sprite-mono.svg#cart"></use>
										</svg>
										В корзину
									</button>
								</div>
							</div>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="product" data-product-id="P951974753">
							<span class="product__category">-35%</span>
							<div class="product__actions">
								<button class="product__actions-btn favorite-btn btn-reset">
									<svg class="icon icon--bright-grey">
										<use xlink:href="images/sprites/sprite-mono.svg#heart"></use>
									</svg>
								</button>
							</div>
							<div class="product__images">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-4.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-1.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-2.png" alt="">
										</div>
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
							<div class="product__info">
								<h3 class="product__title">Букет роз Ред наоми 60 см</h3>
								<div class="product__props">Высота: 60 см, Ширина: 35 см</div>
								<div class="product__bottom">
									<div class="product__price">
										<span class="product__price-current">5 060 ₽</span>
										<span class="product__price-old">15 499 ₽</span>
									</div>
									<button class="product__btn btn btn--primary btn-reset">
										<svg class="btn__icon">
											<use xlink:href="images/sprites/sprite-mono.svg#cart"></use>
										</svg>
										В корзину
									</button>
								</div>
							</div>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="product" data-product-id="A681291484">
							<div class="product__actions">
								<button class="product__actions-btn favorite-btn btn-reset">
									<svg class="icon icon--bright-grey">
										<use xlink:href="images/sprites/sprite-mono.svg#heart"></use>
									</svg>
								</button>
							</div>
							<div class="product__images">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-2.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-3.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-4.png" alt="">
										</div>
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
							<div class="product__info">
								<h3 class="product__title">Букет 5 пионовидных роз Мисти баблс</h3>
								<div class="product__props">Высота: 60 см, Ширина: 35 см</div>
								<div class="product__bottom">
									<div class="product__price">
										<span class="product__price-current">8 020 ₽</span>
										<span class="product__price-old">15 499 ₽</span>
									</div>
									<button class="product__btn btn btn--primary btn-reset">
										<svg class="btn__icon">
											<use xlink:href="images/sprites/sprite-mono.svg#cart"></use>
										</svg>
										В корзину
									</button>
								</div>
							</div>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="product" data-product-id="N727513563">
							<div class="product__actions">
								<button class="product__actions-btn favorite-btn btn-reset">
									<svg class="icon icon--bright-grey">
										<use xlink:href="images/sprites/sprite-mono.svg#heart"></use>
									</svg>
								</button>
							</div>
							<div class="product__images">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-3.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-4.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-1.png" alt="">
										</div>
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
							<div class="product__info">
								<h3 class="product__title">Букет роз микс 40 см</h3>
								<div class="product__props">Высота: 60 см, Ширина: 35 см</div>
								<div class="product__bottom">
									<div class="product__price">
										<span class="product__price-current">10 499 ₽</span>
										<span class="product__price-old">15 499 ₽</span>
									</div>
									<button class="product__btn btn btn--primary btn-reset">
										<svg class="btn__icon">
											<use xlink:href="images/sprites/sprite-mono.svg#cart"></use>
										</svg>
										В корзину
									</button>
								</div>
							</div>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="product" data-product-id="b180891209">
							<div class="product__actions">
								<button class="product__actions-btn favorite-btn btn-reset">
									<svg class="icon icon--bright-grey">
										<use xlink:href="images/sprites/sprite-mono.svg#heart"></use>
									</svg>
								</button>
							</div>
							<div class="product__images">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-3.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-2.png" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="product__images-item">
											<img src="images/product-4.png" alt="">
										</div>
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
							<div class="product__info">
								<h3 class="product__title">Букет 25 роз Нежный микс</h3>
								<div class="product__props">Высота: 60 см, Ширина: 35 см</div>
								<div class="product__bottom">
									<div class="product__price">
										<span class="product__price-current">13 499 ₽</span>
										<span class="product__price-old">15 499 ₽</span>
									</div>
									<button class="product__btn btn btn--primary btn-reset">
										<svg class="btn__icon">
											<use xlink:href="images/sprites/sprite-mono.svg#cart"></use>
										</svg>
										В корзину
									</button>
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="swiper-button-next swiper-button-reset prev-slide-btn">
					<svg class="icon icon--bright-grey stroke-2">
						<use xlink:href="images/sprites/sprite-mono.svg#next"></use>
					</svg>
				</div>
				<div class="swiper-button-prev swiper-button-reset next-slide-btn">
					<svg class="icon icon--bright-grey stroke-2">
						<use xlink:href="images/sprites/sprite-mono.svg#prev"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>