<section class="payment info">
	<div class="container">
		<div class="info__wrapper payment__wrapper">
			<div class="info__nav">
				<ul class="info__nav-list list-reset">
					<li class="info__nav-item">
						<a class="info__nav-link" href="#">О нас</a>
					</li>
					<li class="info__nav-item">
						<a class="info__nav-link active" href="#">Оплата</a>
					</li>
					<li class="info__nav-item">
						<a class="info__nav-link" href="#">Доставка</a>
					</li>
				</ul>
			</div>
			<div class="info__content">
				<div class="payment__header">
					<div class="section__header section-header gutter-sm">
						<h3 class="section-header__title title--md">Оплата</h3>
					</div>
					<p class="info__content-descr">
						Мы предлагаем Вам следующие способы оплаты заказов:
					</p>
					<div class="payment__way">
						<svg class="payment__way-icon">
							<use xlink:href="images/sprites/sprite-multi.svg#bank-hand"></use>
						</svg>
						<span class="payment__way-caption">Оплата в цветочном магазине наличными или банковской картой;</span>
					</div>
					<div class="payment__way">
						<svg class="payment__way-icon">
							<use xlink:href="images/sprites/sprite-multi.svg#bank-card"></use>
						</svg>
						<span class="payment__way-caption">Банковской картой</span>
					</div>
				</div>
				<p class="payment__note">
					<svg class="payment__note-icon">
						<use xlink:href="images/sprites/sprite-mono.svg#tooltip"></use>
					</svg>
					Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку
					«Оплата заказа
					банковской картой».
				</p>
				<div class="payment__system">
					<p class="payment__system-descr">Оплата происходит через ПАО СБЕРБАНК с использованием Банковских карт
						следующих платежных систем:</p>
					<div class="payment__system-inner">
						<div class="payment__system-box">
							<ul class="payment__system-cards list-reset">
								<li class="payment__system-item">
									<img src="images/visa-card.svg" width="70px" alt="">
								</li>
								<li class="payment__system-item">
									<img src="images/mastercard.svg" width="40px" alt="">
								</li>
								<li class="payment__system-item">
									<img src="images/maestro-card.svg" width="40px" alt="">
								</li>
								<li class="payment__system-item">
									<img src="images/world-card.svg" width="70px" alt="">
								</li>
							</ul>
							<h4 class="payment__system-title">Банковские карты</h4>
						</div>
						<div class="payment__system-box">
							<ul class="payment__system-cards list-reset">
								<li class="payment__system-item">
									<img src="images/u-card.svg" width="40px" alt="">
								</li>
								<li class="payment__system-item">
									<img src="images/web.svg" alt="">
								</li>
								<li class="payment__system-item">
									<img src="images/qiwi.svg" alt="">
								</li>
							</ul>
							<h4 class="payment__system-title">Электронные деньги</h4>
						</div>
					</div>
				</div>
				<p class="payment__note">
					<svg class="payment__note-icon">
						<use xlink:href="images/sprites/sprite-mono.svg#tooltip"></use>
					</svg>
					Если заказ сделан в рабочее время (с 8:00 до 20:00 MSK), то в течение 20 минут наш менеджер свяжется с
					Вами по телефону
					для подтверждения заказа и уточнения удобного для Вас времени доставки.
				</p>
			</div>
		</div>
	</div>
</section>