<section class="section reviews reviews--page">
	<div class="container">
		<div class="section__header section-header gutter-md">
			<h3 class="section-header__title">Отзывы</h3>
			<button class="reviews__add-btn btn-outline btn-reset">Оставить отзыв</button>
		</div>
		<div class="reviews__wrapper">
			<div class="reviews-item">
				<div class="reviews-item__info">
					<div class="reviews-item__rating reviews-rating">
						<ul class="reviews-rating__list list-reset">
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
						</ul>
					</div>
					<h4 class="reviews-item__name">Мередова Елена Григорьевна</h4>
					<p class="reviews-item__text">Хочу выразить свою благодарность коллективу, за великолепную
						работу и
						профессионализм! Заказываю уже 3 раз и каждый раз
						се полный восторг! Букеты красивые, цветочки свежие, стоят долго! Заказывала и готовые и
						собирал
						по своему желанию- все
						чудесно! Спасибо Мегацвет24 - вы тот случай, когда точно знаешь куда возвращаться за
						цветочками.
					</p>
					<p class="reviews-item__target">
						Отзыв к букету:
						<a href="#" class="reviews-item__flower-name">Розы 80 см</a>
					</p>
				</div>
				<div class="reviews-item__img">
					<img src="images/reviews-1.png" alt="">
				</div>
			</div>
			<div class="reviews-item">
				<div class="reviews-item__info">
					<div class="reviews-item__rating reviews-rating">
						<ul class="reviews-rating__list list-reset">
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
						</ul>
					</div>
					<h4 class="reviews-item__name">Мередова Елена Григорьевна</h4>
					<p class="reviews-item__text">Хочу выразить свою благодарность коллективу, за великолепную
						работу и
						профессионализм! Заказываю уже 3 раз и каждый раз
						се полный восторг! Букеты красивые, цветочки свежие, стоят долго! Заказывала и готовые и
						собирал
						по своему желанию- все
						чудесно! Спасибо Мегацвет24 - вы тот случай, когда точно знаешь куда возвращаться за
						цветочками.
					</p>
					<p class="reviews-item__target">
						Отзыв к букету:
						<a href="#" class="reviews-item__flower-name">Розы 80 см</a>
					</p>
				</div>
				<div class="reviews-item__img">
					<img src="images/reviews-3.png" alt="">
				</div>
			</div>
			<div class="reviews-item">
				<div class="reviews-item__info">
					<div class="reviews-item__rating reviews-rating">
						<ul class="reviews-rating__list list-reset">
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
							<li class="reviews-rating__item">
								<svg class="reviews-rating__icon">
									<use xlink:href="images/sprites/sprite-mono.svg#rating-star"></use>
								</svg>
							</li>
						</ul>
					</div>
					<h4 class="reviews-item__name">Мередова Елена Григорьевна</h4>
					<p class="reviews-item__text">Хочу выразить свою благодарность коллективу, за великолепную
						работу и
						профессионализм! Заказываю уже 3 раз и каждый раз
						се полный восторг! Букеты красивые, цветочки свежие, стоят долго! Заказывала и готовые и
						собирал
						по своему желанию- все
						чудесно! Спасибо Мегацвет24 - вы тот случай, когда точно знаешь куда возвращаться за
						цветочками.
					</p>
					<p class="reviews-item__target">
						Отзыв к букету:
						<a href="#" class="reviews-item__flower-name">Розы 80 см</a>
					</p>
				</div>
				<div class="reviews-item__img">
					<img src="images/reviews-1.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>