<section class="rose-shop">
	<div class="container">
		<h3 class="rose-shop__title">Почему Лавка Роз</h3>
		<div class="rose-shop__wrapper">
			<div class="rose-shop__info">
				<p class="rose-shop__text">Мы предоставляем исключительно комфортные условия взаимодействия всем категориям
					покупателей,
					в том числе коммерческим и
					корпоративным:</p>
				<ul class="rose-shop__list list-reset">
					<li class="rose-shop__list-item">Удобные способы оплаты – наличными, банковскими картами, по безналичному
						расчету.
					</li>
					<li class="rose-shop__list-item">Вручение по любому адресу (город + пригород) в течение 2 часов.</li>
					<li class="rose-shop__list-item">Работаем ежедневно, в том числе в выходные и праздничные дни.</li>
					<li class="rose-shop__list-item">Пошаговое консультационное и информационное сопровождение.</li>
					<li class="rose-shop__list-item">Предоставление фото- и видеоотчетов (по желанию).</li>
				</ul>
			</div>
			<div class="rose-shop__img">
				<img src="images/rose.svg" alt="" aria-hidden="true">
			</div>
		</div>
	</div>
	<img class="rose-shop__decor" src="images/flower-decor-red.svg" alt="" aria-hidden="true">
</section>