<section class="section blog">
	<div class="container">
		<div class="section__header section-header gutter-md">
			<h3 class="section-header__title title--md">Блог</h3>
		</div>
		<div class="blog__wrapper">
			<article class="blog-item">
				<picture>
					<source srcset="images/news-1.webp" type="image/webp">
					<img loading="lazy" src="images/news-1.png" class="blog-item__image" alt="">
				</picture>
				<div class="blog-item__content">
					<h3 class="blog-item__title"><a class="blog-item__link" href="#">С чем сочетаются тюльпаны</a></h3>
					<p class="blog-item__descr">Тюльпаны – нежные цветы, ассоциирующиеся с наступлением весенних дней.</p>
					<time datetime="20021-12-18" class="blog-item__date">18 декабря 2021</time>
				</div>
			</article>
			<article class="blog-item">
				<picture>
					<source srcset="images/news-2.webp" type="image/webp">
					<img loading="lazy" src="images/news-2.png" class="blog-item__image" alt="">
				</picture>
				<div class="blog-item__content">
					<h3 class="blog-item__title"><a class="blog-item__link" href="#">Какие цветы дарят мужчинам</a></h3>
					<p class="blog-item__descr">Многие мужчины любят цветы не меньше, чем женщины.</p>
					<time datetime="20021-12-18" class="blog-item__date">18 декабря 2021</time>
				</div>
			</article>
			<article class="blog-item">
				<picture>
					<source srcset="images/news-3.webp" type="image/webp">
					<img loading="lazy" src="images/news-3.png" class="blog-item__image" alt="">
				</picture>
				<div class="blog-item__content">
					<h3 class="blog-item__title"><a class="blog-item__link" href="#">К чему дарят белые розы</a></h3>
					<p class="blog-item__descr">По какому поводу можно подарить белые розы, и когда это будет неуместно.</p>
					<time datetime="20021-12-18" class="blog-item__date">18 декабря 2021</time>
				</div>
			</article>
			<article class="blog-item">
				<picture>
					<source srcset="images/news-2.webp" type="image/webp">
					<img loading="lazy" src="images/news-2.png" class="blog-item__image" alt="">
				</picture>
				<div class="blog-item__content">
					<h3 class="blog-item__title"><a class="blog-item__link" href="#">Какие цветы дарят мужчинам</a></h3>
					<p class="blog-item__descr">Многие мужчины любят цветы не меньше, чем женщины.</p>
					<time datetime="20021-12-18" class="blog-item__date">18 декабря 2021</time>
				</div>
			</article>
			<article class="blog-item">
				<picture>
					<source srcset="images/news-3.webp" type="image/webp">
					<img loading="lazy" src="images/news-3.png" class="blog-item__image" alt="">
				</picture>
				<div class="blog-item__content">
					<h3 class="blog-item__title"><a class="blog-item__link" href="#">К чему дарят белые розы</a></h3>
					<p class="blog-item__descr">По какому поводу можно подарить белые розы, и когда это будет неуместно.</p>
					<time datetime="20021-12-18" class="blog-item__date">18 декабря 2021</time>
				</div>
			</article>
			<article class="blog-item">
				<picture>
					<source srcset="images/news-1.webp" type="image/webp">
					<img loading="lazy" src="images/news-1.png" class="blog-item__image" alt="">
				</picture>
				<div class="blog-item__content">
					<h3 class="blog-item__title"><a class="blog-item__link" href="#">С чем сочетаются тюльпаны</a></h3>
					<p class="blog-item__descr">Тюльпаны – нежные цветы, ассоциирующиеся с наступлением весенних дней.</p>
					<time datetime="20021-12-18" class="blog-item__date">18 декабря 2021</time>
				</div>
			</article>
			<button class="blog__btn-more btn-more btn-reset">
				<svg class="">
					<use xlink:href="images/sprites/sprite-mono.svg#rotate"></use>
				</svg>
				Показать еще
			</button>
		</div>
	</div>
</section>