<!DOCTYPE html>
<html lang="ru" class="page">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#111111">
	<title>Категории</title>
	<link rel="stylesheet" href="css/main.min.css">
</head>

<body class="page__body">
	<div class="site-container">
		//= partials/header.html

		<main class="main">
			<div class="container">
				<ul class="breadcrumbs list-reset">
					<li class="breadcrumbs__item">
						<a class="breadcrumbs__link" href="#">
							Главная
							<svg class="breadcrumbs__icon">
								<use xlink:href="images/sprites/sprite-mono.svg#arrow_right"></use>
							</svg>
						</a>
					</li>
					<li class="breadcrumbs__item">
						<a class="breadcrumbs__link breadcrumbs__link--active" href="#">Букеты из роз</a>
					</li>
				</ul>
			</div>
			//= modules/categories.html
			//= modules/main-catalog.html
			//= modules/cart-modal.html
			//= modules/modal.html
		</main>

		//= partials/footer.html
	</div>

	<script src="scripts/main.js"></script>
</body>

</html>